{
  "defaultEnvironment":"test",
  "timeout":40000,
  "headless": false,
  "environment":{
    "test":{
      "url":"landpage.com",
      "user":"name@email.com",
      "password":""
    },
    "stage":{
      "url":"",
      "user":"",
      "password":""
    },
    "prod":{
      "url":"",
      "user":"",
      "password":""
    }
  },
  "speed":1,
  "browser":"chrome",
  "verbose": true,
  "speed":1,
  "browser":"chrome",
  "verbose": false
}
