[Desktop Entry]
Encoding=UTF-8
Name=Link to pages
Type=Link
URL=https://github.com/AlyneSoares/wiki_bdd/tree/master/features/support/pages
Icon=text-html
